@model UsuarioViewModel
@{
    ViewData["Title"] = "AltaUsuario";
}

@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css" asp-append-version="true">
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Nuevo Usuario</h6>
        </div>
    <div class="card-body">
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <form asp-action="AltaUsuario">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtNombreUsuario">Usuario asignado:</label>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="nombreUsuarioInput" readonly asp-for="NombreUsuario">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="Matricula" placeholder="Matricula" asp-for="Matricula">
                                    <span asp-validation-for="Matricula" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="grado" placeholder="Grado" asp-for="Grado">
                                    <span asp-validation-for="Grado" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="apellido" placeholder="Apellido" asp-for="Apellido">
                                    <span asp-validation-for="Apellido" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="nombre" placeholder="Nombre" asp-for="Nombre">
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="destino" placeholder="Destino" asp-for="Destino">
                                    <span asp-validation-for="Destino" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="deptoDiv" placeholder="Depto/Div" asp-for="DeptoDiv">
                                    <span asp-validation-for="DeptoDiv" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="email" placeholder="Email" asp-for="Email">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm input-validar" id="interno" placeholder="Interno" asp-for="Interno">
                                    <span asp-validation-for="Interno" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <input type="password" class="form-control form-control-sm input-validar" id="passwordHash" placeholder="Password" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtRol">Rol</label>
                                    <select class="form-control form-control-sm" id="rol">
                                        <option value="1">Admin</option>
                                        <option value="2">Operador</option>
                                        <option value="3">Consultor</option>

                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtFoto">Foto</label>
                                    <input class="form-control-file" type="file" id="txtFoto" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img id="imgUsuario" style="max-width:200px;" src="https://images.unsplash.com/photo-1519648023493-d82b5f8d7b8a?w=300" class="rounded mx-auto d-block" alt="Foto usuario">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                        <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
 </div>

@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/js/vistas/UsuarioEdit.js"></script>
    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/js/vistas/datatables-demo.js"></script>

    <script>
        function formarNombreUsuario() {
            // Realizar la solicitud AJAX al controlador
            $.ajax({
                url: `/Usuario/ObtenerMaxNumeroUsuario`,
                method: 'GET',
                success: function (data) {
                    var numeroNuevo = data + 1;
                    var nombreUsuario = 'SIAD' + numeroNuevo;
                    document.getElementById('nombreUsuarioInput').value = nombreUsuario;
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

    </script>
}

